@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

canvas {
  border: 2px solid steelblue;
  height: calc(100vh - 4.75rem);
  width: 100vw;
}

.toolbox {
  background-color: steelblue;
  border: solid 1px slateblue;
  display: flex;
  width: 100vw;
  /* width: 804px; */
  padding: .5rem;
  position: absolute;
  top: 4.75rem;
  left: 0;
  z-index: 100;
}

.toolbox > * {
  background-color: #ffffff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  outline: none;
}

.toolbox > *:last-child {
  margin-left: auto;
}

#size::-webkit-inner-spin-button {
  width: auto;
}

#size {
  width: 75px;
  text-align: center;
  cursor: default;
}

.fas {
  font-size: 2.5rem;
}

#download-button {
  background-color: transparent;
  border: none;
}

@media(max-width: 600px) {
  .toolbox {
    padding: .25rem;
  }

  .toolbox > * {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
  }

  .fas {
    font-size: 1.5rem;
  }

  #size {
    width: auto;
  }

  canvas {
    height: calc(100vh - 3rem);
  }
}